<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite>
            <directory>src/Tests/Checksum</directory>
        </testsuite>
        <testsuite>
            <directory>src/Tests/Db</directory>
        </testsuite>
        <testsuite>
            <directory>src/Tests/Filter</directory>
        </testsuite>
        <testsuite>
            <directory>src/Tests/Form</directory>
        </testsuite>
        <testsuite>
            <directory>src/Tests/Iterator</directory>
        </testsuite>
        <testsuite>
            <directory>src/Tests/Locale</directory>
        </testsuite>
        <testsuite>
            <directory>src/Tests/Money</directory>
        </testsuite>
        <testsuite>
            <directory>src/Tests/Packing</directory>
        </testsuite>
        <testsuite>
            <directory>src/Tests/Random</directory>
        </testsuite>
        <testsuite>
            <directory>src/Tests/Type</directory>
        </testsuite>
        <testsuite>
            <directory>src/Tests/Validation</directory>
        </testsuite>
    </testsuites>
</phpunit>
