<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <testsuites>
    <testsuite name="Locale tests">
      <directory>src/Tests/Locale</directory>
    </testsuite>
    <testsuite name="Random tests">
      <directory>src/Tests/Random</directory>
    </testsuite>
  </testsuites>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <file>src/Locale/countries.php</file>
      <file>src/Locale/countries-parser.php</file>
      <file>src/Locale/currencies-parser.php</file>
      <file>src/Locale/languages.php</file>
      <file>src/Locale/languages-alpha-2-to-3.php</file>
      <file>src/Locale/languages-parser.php</file>
    </exclude>
  </coverage>
</phpunit>
